name: Handle issues
on: issues
permissions:
  contents: read
jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Output event details
        env:
          EVENT_JSON: ${{ toJSON(github.event) }}
        run: |
          echo "$EVENT_JSON"
